//import all arccorp vars
@use "~arccorp-vars/src/scss/main";

//page styles
.arc-thirdparty-page {
  background: main.$tarmac;
  width: 100%;
}

.arc-thirdparty-jumbo {
  margin-top: main.$spacing-4;
  margin-bottom: main.$spacing-4;
}
