//import all arccorp vars
@use "~arccorp-vars/src/scss/main";

@use "sticky";

#app {
  color: #414042;
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;

  .loading {
    color: #dddddd;
    vertical-align: middle;
    width: 100%;
    div {
      text-align: left !important;
    }
    .loading-icon {
      color: #dddddd;
      display: block;
      font-size: 70px;
      margin: 0 auto;
    }
  }
}

.arc-dg-page {
  width: 100%;
  flex-direction: row;

  .light-font {
    font-family: SourceSansPro-Light, SourceSansPro-Regular, Arial, Helvetica, sans-serif;
  }

  .arc-jumbo {
    max-width: 1170px;
    background: transparent;
    img {
      border-radius: main.$border-radius-lg;
    }
  }

  .atd-jumbo {
    .product-header {
      font-family: main.$arc-font-bold;
    }
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    background: url("https://www2.arccorp.com/globalassets/destination-gateway/left.png")
      center center no-repeat;
    left: 14%;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    background: url("https://www2.arccorp.com/globalassets/destination-gateway/right.png")
      center center no-repeat;
    right: 14%;
  }

  .product-header {
    font-family: main.$arc-font-semibold;
  }

  .overview {
    .product-callout-copy {
      max-width: 1050px;
    }
  }
  .modules {
    .product-callout-copy {
      max-width: 950px;
    }
  }
}

.type-color-black {
  .product-callout-copy {
    font-family: SourceSansPro-Light, Arial, Helvetica, sans-serif;
  }
}

.arc-image-subtitle {
  text-align: center;
  font-family: main.$arc-font-semibold;
  font-size: 32px;
  line-height: 32px;
  color: main.$arc-teal;
  border: 2px solid main.$arc-teal;
  border-radius: main.$border-radius;
  padding: 30px;
  margin-top: 60px;
  margin-bottom: 30px;
  a.ctaBtn {
    margin-top: 30px;
    margin-bottom: 0;
  }

  a.ctaBtn,
  a.ctaBtn:hover,
  a.ctaBtn:focus {
    color: main.$tarmac;
  }
}

.arc-image-disclaimer {
  font-size: 24px;
  line-height: 32px;
  color: main.$landing;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.dg-icon-container {
  max-width: 770px;
  padding-top: 120px;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

.dg-icon-item {
  display: flex;
  background: main.$tarmac;
  color: #fff;
  padding: 40px 30px;
  border: 1px solid main.$fuselage;
  border-radius: 7px;
  margin-bottom: 10px;
  position: relative;
}

.dg-icon-title {
  font-family: main.$arc-font-semibold;
  color: main.$white;
  font-size: 24px;
  line-height: 28px;
}

.dg-icon-img {
  display: flex;
  align-items: center;
  height: 64px;
}

.dg-icon-copy {
  font-family: main.$arc-font-semibold;
  color: main.$white;
  font-size: 16px;
  line-height: 22px;
  margin-left: 40px;
}

.callout-box-container {
  border-radius: main.$border-radius-lg;
  padding-bottom: 120px;
  padding-top: 120px;
  .callout-box {
    border-radius: main.$border-radius-lg;
  }
}

.dg-carousel-data-container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 120px;
}

.dg-carousel-selector {
  display: flex;
  font-size: 18px;
  flex-direction: row;
  max-width: 563px;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 15px 30px;
  background: main.$tarmac;
  border-radius: 3px;
  border: 1px solid main.$fuselage;
  color: main.$fuselage;
}

.dg-carousel-selection {
  &:hover,
  &.active {
    font-family: main.$arc-font-bold;
    color: main.$white;
    text-decoration: underline;
    cursor: pointer;
  }
}

.dg-carousel-content {
  color: main.$landing;
  font-size: 18px;
  line-height: 24px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.dg-carousel-timing {
  max-width: 563px;
  margin: 30px auto;
  border-top: 1px solid main.$landing;
  padding-top: 30px;
  display: flex;
}

.dg-carousel-disclaimer {
  font-size: 14px;
  line-height: 20px;
  color: main.$landing;
  margin-top: 60px;
}

.dg-carousel-timing {
  display: flex;
  justify-content: center;
}

.dg-carousel-timing-item {
  margin-right: 15px;
  color: main.$landing;
  img {
    margin-right: 10px;
  }

  &.long {
    max-width: 360px;
  }
}

.dg-graph {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ss-system-info-item {
  margin-bottom: 0;
}
